<div class="main">
  <h1>Bienvenue sur le compteur de points de Flip7 !</h1>

  @if (phase === 'init') {
    <h2>Entrez le nom des joueurs :</h2>
    <form (submit)="addPlayer()">
      <input type="text" [(ngModel)]="newPlayer" name="name" />
      <button>Valider</button>
    </form>
    <h2>Liste des joueurs :</h2>
    <ul>
      @for (player of players; track player.id) {
        <li>
          <div class="player">
            {{ player.name }}
            <button (click)="deletePlayer(player.id)">X</button>
          </div>
        </li>
      }
    </ul>
    @if (players.length >= 2) {
      <button (click)="score()">Fini !</button>
    }
  } @else if (phase === 'score') {
    <h1>Scores actuels :</h1>
    <ul>
      @for (player of players; track player.id) {
        <li>{{ player.name }} : {{ player.score }}</li>
      }
    </ul>
    <h2>Qui marque des points ?</h2>
    <ul>
      @for (player of players; track player.id) {
        <li>
          <div class="player">
            <input type="checkbox" [(ngModel)]="player.marks" />
            {{ player.name }}
            @if (player.marks) {
              <input type="text" [(ngModel)]="player.scoreToAdd" />
            }
          </div>
        </li>
      }
    </ul>
    <button (click)="mark()">Fin de la manche !</button>
  } @else {
    @if (winners.length > 1) {
      <h1>Les gagnants, à égalité, sont {{ winnersText }} !!!</h1>
    } @else {
      <h1>Et le gagnant est {{ winners[0].name }} !!!</h1>
    }
  }
</div>
